---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Connect">
<section id="about">
                <h2>Connect</h2>
                <script src="https://kit.fontawesome.com/91c28acc14.js" crossorigin="anonymous"></script>
                <div class="contact-info">
                    <ul style="list-style-type: none; text-align: center; line-height: 2.7rem; padding: 0;">
                        <div class="fa-icon-category">EMAIL</div>
                        <li><a rel="me" href="/email" target="_top"><span class="fa-icon-as-button"><i
                                        class="fa-solid fa-envelope"></i></span></a>
                            <a href="/pgp" target="_blank"><span class="fa-icon-as-button"><sup
                                        style="font-size: 1.05rem; vertical-align: super;">⟨
                                        <i class="fa-solid fa-key"></i>
                                        ⟩</sup></span></a>
                            <!-- <a rel="me"
                                href="https://keys.openpgp.org/vks/v1/by-fingerprint/ED30F04A5C53A4790134793E5FFC66A388E41C11"
                                target="_blank"><span class="fa-icon-as-button"><i
                                        class="fa-solid fa-cloud-arrow-down"></i></span></a>
                            <a rel="me" href="https://pgptool.github.io" target="_blank"><span
                                    class="fa-icon-as-button"><i class="fa-solid fa-circle-info"></i></span></a> -->
                        </li>

                        <div class="fa-icon-category">MESSAGING</div>
                        <li><a rel="me" href="/imessage" target="_top"><span class="fa-icon-as-button"><i
                                        class="fa-brands fa-apple"></i></span></a>
                            <a href="/pvcim" target="_blank"><span class="fa-icon-as-button"><sup
                                        style="font-size: 1.05rem; vertical-align: super;">⟨ <i
                                            class="fa-solid fa-key"></i> ⟩</sup></span></a>
                            <a rel="me" href="/whatsapp" target="_blank"><span class="fa-icon-as-button"><i
                                        class="fa-brands fa-whatsapp"></i></span></a>
                            <a rel="me" href="/telegram" target="_blank"><span class="fa-icon-as-button"><i
                                        class="fa-brands fa-telegram"></i></span></a>
                        </li>
                        <!--div class="fa-icon-category">PERSONAL</div>
                                    <li><a rel="me"
                                            href="https://www.jasonshew.com/about" target="_blank"><span class="fa-icon-as-button"><i class="fa-regular fa-address-card"></i></span></a>
                                        <a rel="me" href="https://www.jasonshew.com/blog" target="_blank"><span class="fa-icon-as-button"><i
                                                    class="fa-solid fa-blog"></i></span></a>
                                        <a rel="me"
                                            href="https://www.jasonshew.com/feed" target="_blank"><span class="fa-icon-as-button"><i
                                                class="fa-solid fa-square-rss"></i></span></a>
                                        <a rel="me" href="https://www.jasonshew.com/connect" target="_blank"><span class="fa-icon-as-button"><i class="fa-solid fa-link"></i></span></a></li -->
                        <div class="fa-icon-category">SOCIAL</div>
                        <li><a rel="me" href="/github" target="_blank"><span class="fa-icon-as-button"><i
                                        class="fa-brands fa-github"></i></span></a>
                            <a rel="me" href="/linkedin" target="_blank"><span class="fa-icon-as-button"><i
                                        class="fa-brands fa-linkedin"></i></span></a>
                            <a rel="me" href="/instagram" target="_blank"><span class="fa-icon-as-button"><i
                                        class="fa-brands fa-instagram"></i></span></a>
                        </li>
                        <li><a rel="me" href="/threads" target="_blank"><span class="fa-icon-as-button"><i
                                        class="fa-brands fa-threads"></i></span></a>
                            <a rel="me" href="/applemusic" target="_blank"><span class="fa-icon-as-button"><i
                                        class="fa-solid fa-music"></i></span></a>
                            <a rel="me" href="/mastodon" target="_blank"><span class="fa-icon-as-button"><i
                                        class="fa-brands fa-mastodon"></i></span></a>
                        </li>
                        <li><a rel="me" href="/microblog" target="_blank"><span class="fa-icon-as-button"><i
                                        class="fa-brands fa-microblog"></i></span></a>
                            <a rel="me" href="/bluesky" target="_blank"><span class="fa-icon-as-button"><i
                                        class="fa-brands fa-bluesky"></i></span></a>
                            <a rel="me" href="/pixelfed" target="_blank"><span class="fa-icon-as-button"><i
                                        class="fa-solid fa-camera-retro"></i></i></span></a>
                        </li>
                        <div class="fa-icon-category">PATRONAGE</div>
                        <li><a rel="me" href="/buymeacoffee" target="_blank"><span class="fa-icon-as-button"><i
                                        class="fa-solid fa-glass-water"></i></span></a>
                            <a rel="me" href="/kofi" target="_blank"><span class="fa-icon-as-button"><i
                                        class="fa-solid fa-mug-saucer"></i></span></a>
                            <a rel="me" href="/wishlist" target="_blank"><span class="fa-icon-as-button"><i
                                        class="fa-brands fa-amazon"></i></span></a>
                            <a rel="me" href="/paypal" target="_blank"><span class="fa-icon-as-button"><i
                                        class="fa-brands fa-paypal"></i></span></a>
                        </li>
                    </ul>
                </div>

            </section>
</BaseLayout>
