---
const email = 'jason@jasonshew.com';
---

<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url={`mailto:${email}`}" />
    <title>Redirecting to Email</title>
  </head>
  <body>
    <p>If you are not redirected, <a href={`mailto:${email}`}>click here</a> to send an email.</p>
  </body>
</html>