---
const imessage = 'jason@jasonshew.com';
---

<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url=imessage:${imessage}" />
    <title>Redirecting to iMessage</title>
  </head>
  <body>
    <p>If you are not redirected, <a href={`imessage:${imessage}`}>click here</a> to send an iMessage.</p>
  </body>
</html>