---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Jason Shew">
  <section id="welcome">
            <div class="hero-container">
                <img src="/images/hero.jpeg" alt="Hero Image of Jason" class="hero-image">
                <div class="hero-text">
                     <h2>There is a Human Behind This Website
                    </h2>
                    <p>Hey, I’m Jason, a Canadian guy currently in <span id="mylocation"></span>. Right now, it's <span id="mylocaltime"></span> where I am. <span id="mylocalweather"></span></p>
                    <br>
                    <p>I build websites. I make software. I teach students. I write music. </p>
                    <br>
                    <p>Wondering what I’m all about? You may want to start with this <a href="/about">About Me</a> page. Also don't forget to check out other parts of this website and <a href="/blog" target="_blank" rel="noopener noreferrer">my blog</a>.</p>
                    <br>
                </div>
            </div>

        </section>

        <section id="news">
            <h2>News</h2>
            <div class="news-grid">
                <div class="news-card">
                    <h3>Website Revamped</h3>
                    <h5>July 5, 2025</h5>
                    <p>It's as plain as the nose on your face.</p>
                    <img src="/assets/images/cute-elephant.jpg" height="400" alt="Cute Elephant">
                    <p>It was a bit of work, but I’m happy to have moved everything back to my main domain but my blog.</p>

                </div>

                            <div class="news-card">
                    <h3>Earned Another Degree</h3>
                    <h5>February 28, 2025</h5>
                    <p>Finally got my first degree in the sciences.</p>
                    <img src="/assets/images/news/regalia.jpg" height="400" alt="Cute Elephant">
                    <p>Today I earned an Honours Bachelor’s degree in Computer Science with distinction from Western University.

It might not feel like a huge employability boost these days, especially with AI and layoffs shaking up the industry. But still, it’s a great feeling to see years of hard work finally pay off.</p>

          
              

            </div>
            </div>
        </section>
    <script src="https://api.shewtopia.com/jshewblogapi/fetch/fetch-homepage-location.js" type="module" crossorigin="anonymous"></script>

</BaseLayout>