---
import BaseLayout from '../layouts/BaseLayout.astro';
import checkins from '../data/homepage_location.json';

---

<BaseLayout title="Jason Shew's Website">
  <section id="welcome">
            <div class="hero-container">
                <img src="/images/hero.jpeg" alt="Hero Image of Jason" class="hero-image">
                <div class="hero-text">
                    <h2>There is a Human Behind This Website
                    </h2>
                    <p>Hey, I’m Jason, a Canadian guy currently in <span id="mylocation"></span>.
                    Right now,
                    it's <span id="mylocaltime"></span> where I am. <span id="mylocalweather"></span></p>
<br>
                    <p>Don't know me at all? You may want to start with this <a href="/about">About Me</a> page.</p>
<br>
                    <p>This site is designed to be intuitive and easy to navigate. Important updates appear right here on the homepage (in the <a href="/#news">News</a> section below), while everything else is organized into other sections. My current location, local time, weather, and <a href="/tracks">tracklist</a> are updated in real time. You can also visit the <a href="/checkins">Check-ins</a> page to see where I’ve recently been. The <a href="/linkbook">Linkbook</a> is a collection of random links I’ve found around the internet. Wherever you are, feel free to reach out using the details on the <a href="/connect">Connect</a> page.

Oh—and one more thing. This is my personal website. All content here and on <a href="/blog" target="_blank" rel="noopener noreferrer">my blog</a> was created by me unless otherwise noted. The views expressed are entirely my own and don’t reflect those of any past, present, or future employers — or anyone else, for that matter.</p>

                </div>
            </div>

        </section>

        <section id="news">
            <h2>News</h2>
            <div class="news-grid">
                <div class="news-card">
                    <h3>Website Revamped</h3>
                    <h5>July 5, 2025</h5>
                    <p>It's as plain as the nose on your face.</p>
                    <img src="/images/cute-elephant.jpg" height="400" alt="Cute Elephant">
                    <p>It was a bit of work, but I’m happy to have moved everything back to my main domain but my blog.</p>

                </div>


            </div>
        </section>
            <script src="/js/homepage_LTW.js" defer></script>

</BaseLayout>