---
import BaseLayout from '../layouts/BaseLayout.astro';
import checkins from '../data/linkbook.json';

---

<BaseLayout title="Linkbook :: Jason Shew">
  <section>
    <h2>Linkbook</h2>
    <p>Here's a stash of links I’ve saved from various corners of the Internet.</p>
        <div id="links-list"></div>
    <span id="loading"></div>
    <script src="/js/fetch_linkbook.js" type="module"></script>
  </section>
</BaseLayout>