---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Uses :: Jason">
<section id="uses">
                <h2>Uses</h2>
                <p>Here is a roundup of software, hardware, and Internet services I'm currently using to create stuff
                    and boost
                    productivity. Some may also call this a "Colophon" page.
                </p>

                <h3>Hardware</h3>

                <ul>
                    <li><b>Laptops:</b> Apple MacBook Pro 16-inch (M1 Pro, 2021); Apple MacBook Air 11-inch (2015)</li>
                    <li><b>Smartphones:</b> Apple iPhone 14 Pro Max (512GB); Apple iPhone XS Max (512GB)</li>
                    <li><b>Digital Camera:</b> Sony RX100 V</li>
                    <li><b>Musical Keyboards:</b> Roland A-49; YAMAHA DGX-660</li>
                    <li><b>Microphones:</b> Apogee MiC 96K; Shure MV51; RØDE NT1-A, Wireless PRO</li>
                    <li><b>Digital Audio Interface:</b> Apogee Duet 2 </li>
                    <li><b>Studio Monitors / Headphones:</b> AKG 240S; Audio-Technica ATH-M50xBT2, ATH-M50, ATH-M40;
                        Genelec 8030B, M040
                    </li>
                    <li><b>Tablet:</b> Apple iPad mini (6th Gen, 256GB)</li>
                    <li><b>Stylus:</b> Apple Pencil (2nd Gen)</li>
                    <li><b>Gimbal:</b> DJI Osmo Mobile 2</li>
                    <li><b>Drawing Tablet:</b> Wacom Intuos S with Bluetooth</li>
                </ul>

                <h3>Software</h3>

                <ul>
                    <li><b>Operating Systems:</b> macOS Sequoia; Ubuntu 24.04 LTS</li>
                    <li><b>Text Editor:</b> Ulysses</li>
                    <li><b>Code Editor:</b> GNU nano; Vim</li>
                    <li><b>IDEs:</b> VS Code; PyCharm; IntelliJ IDEA; CLion; WebStorm; Xcode</li>
                    <li><b>SSH:</b> Termius</li>
                    <li><b>Graphic Design:</b> Affinity Designer 2; Affinity Photo 2; Pixelmator Pro</li>
                    <li><b>Photography:</b> Darkroom; VSCO</li>
                    <li><b>DAWs:</b> Logic Pro; FL Studio 20</li>
                    <li><b>Cinematography:</b> FiLMiC Pro; Final Cut Pro; LumaFusion</li>
                    <li><b>Podcast Client:</b> Pocket Casts; Apple Podcasts</li>
                    <li><b>Productivity:</b> OmniFocus; Fantastical</li>
                </ul>

                <h3>Services</h3>

                <ul>
                    <li><b>Email:</b> Proton Mail <span class="pretty-tag grey"><a href="https://pr.tn/ref/W9VZ0875AGFG"
                                rel="noopener noreferrer" target="_blank">Try Mail Plus!</a></span></li>
                    <li><b>Cloud Storage:</b> iCloud Drive (included in Apple One Premium); DropBox; Proton Drive;
                        Google Drive</li>
                    <li><b>Blog Content Generator / Hosting:</b> <a href="https://micro.blog" rel="noopener noreferrer"
                            target="_blank">Micro.blog</a> + a few APIs I've whipped up on a VPS of mine (located in
                        Canada)
                    </li>
                    <li><b>Music Streaming:</b> Apple Music (Canada)</li>
                    <li><b>Sound Environments:</b> <a href="https://endel.io" rel="noopener noreferrer"
                            target="_blank">Endel</a></li>
                </ul>
            </section>
</BaseLayout>
