:root {
    --section-padding: 1rem;
    --font-family: Inter var, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --font-size-normal: 1rem;
    --font-size-small: 0.8rem;
    --font-size-large: 1.2rem;
    --font-size-title: 1.2rem;
    --width-max: 48rem;
    --width-min: 22rem;
    --width-max-image: 45rem;
    --border-radius: 0.25rem;
}

[data-theme="light"] {
    --primary-color: #D52B1E;
    --secondary-color: #3f5cff;
    --bg-color: #fff;
    --text-color: #333;
    --accent-color: #3f5cff;
    --hover-color: #D52B1E;
    --main-bg-color: #f9f9f9;
    --card-bg-color: #f4f4f4;
    --card-text-color: #1f2445;
    --card-accent-color: #1e3c4f;
    --card-hover-color: #D52B1E;
    --blockquote: #f9f4e4;
    --blockquote-border: #3f5cff;
    --blockquote-text: #222222;
    --shadow-color: #c2c6cb;
    --card-border-color: #eaeaec;
    --meta-color: #454545;
}

[data-theme="dark"] {
    --primary-color: #FF4500;
    --secondary-color: #1FA1F3;
    --bg-color: #131313;
    --text-color: #d6d6d6;
    --accent-color: #1FA1F3;
    --hover-color: #FF4500;
    --main-bg-color: #1a1a1a;
    --card-bg-color: #13232c;
    --card-text-color: #9eaeea;
    --card-accent-color: #1FA1F3;
    --card-hover-color: #0a0505;
    --blockquote: #f3f0ec;
    --blockquote-border: #1FA1F3;
    --blockquote-text: #303030;
    --shadow-color: #080604;
    --card-border-color: #111d02;
    --meta-color: #454545;
}

html {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: large;
    font-weight: normal;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-rendering: optimizeLegibility;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body,
header,
.news-card,
form input,
form textarea,
form button {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-normal);
    color: var(--text-color);
    line-height: 1.5;
    background-color: var(--bg-color);
    margin: 0;
}


main,
.page-content {
    background-color: var(--main-bg-color);
}

main {
    margin: 5rem auto;
}

.page-content {
    max-width: var(--width-max);
    min-width: var(--width-min);
    margin: auto;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-shadow: none;
    display: inline-flex;
    transition: transform 0.3s, color 0.3s;
}

a:hover,
nav.nav-menu ul li a:hover {
    color: var(--hover-color);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: 0 2px 4px rgba(159, 158, 158, 0.488);
    z-index: 100;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo,
.logo a {
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.logo .site-title {
    font-weight: 900;
    font-size: 2.2rem;
    letter-spacing: -0.1rem;
    margin-left: 1rem;
}

.logo img {
    height: 50px;
}

nav.nav-menu {
    transition: transform 0.3s ease;
}

nav.nav-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav.nav-menu ul li {
    margin-left: 20px;
}

nav.nav-menu ul li a {
    color: var(--text-color);
    font-weight: 600;
}

.menu-toggle {
    display: none;
    /* Hidden by default */
    background: none;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--secondary-color);
    padding: 10px;
    transform: scale(1.25) translateY(-3px);
    transition: color 0.3s ease;
}

.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 4rem;
    margin: 0 0.5rem;
    vertical-align: middle;
}

.hero-container {
    position: relative;
    text-align: start;
    color: var(--text-color);
}

.hero-image {
    height: auto;
    display: block;
    padding: 0;
    margin: 0 auto;
}

.hero-text {
    padding: 1.5rem;
    border-radius: 30px;
}

section {
    padding: var(--section-padding);
    max-width: 1200px;
    margin: 0 auto;
}

section h2 {
    text-align: center;
    margin-bottom: 2vh;
    font-size: 2.2rem;
    line-height: 2.5rem;
    font-weight: 800;
    color: var(--primary-color);
}

#welcome p {
    max-width: 800px;
    margin: 0 auto;
}

#news .news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.news-card {
    background-color: var(--card-bg-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.news-card:hover {
    transform: scale(1.05);
}

[data-theme="dark"] .news-card {
    border-color: #333;
}

.site-footer {
    max-width: var(--width-max);
    min-width: var(--width-min);
    text-align: center;
    font-size: var(--font-size-small);
    margin: 2rem auto;
}

/* APPLE MUSIC */
#apple-music-embed {
    width: 90%;
    display: block;
    margin: 1rem auto 1rem auto;
}

#music-info {
    display: block;
    max-width: 90%;
    margin: 0.5rem auto;
    font-size: 75%;
    line-height: 140%;
    opacity: 0.75;
    text-align-last: left;
}

#amtrack {
    display: block;
    text-align: left;
    margin: 0 1rem;
}

#amtrack::before {
    content: "🎧";
    color: var(--text-color);
    margin: auto 0.32rem auto -1rem;
}

#amtrack::after {
    content: "";
}

#amartist {
    display: block;
    text-align: left;
    margin: 0 1rem;
}

#amartist::before {
    content: "🧑🏻‍🎤";
    color: var(--text-color);
    margin: auto 0.32rem auto -1rem;
}

#amartist::after {
    content: "";
}

#amalbum {
    display: block;
    text-align: left;
    margin: 0 1rem;
}

#amalbum::before {
    content: "💿";
    color: var(--text-color);
    margin: auto 0.32rem auto -1rem;
}

#amalbum::after {
    content: "";
}

/* CONNECT */
.contact-info {
    font-size: 100%;
    line-height: 190%;
    white-space: nowrap;
    margin: 0 auto;
}

.fa-icon-category {
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 150%;
    display: -webkit-inline-box;
    margin: 1.2rem auto 0 auto;
    -webkit-box-pack: center;
}

.fa-icon-as-button {
    font-size: 2.2rem;
    margin: 0.4rem;
    width: 2.6rem;
    display: -webkit-inline-box;
    color: var(--card-text-color);
    -webkit-box-pack: center;
}

.fa-icon-as-button:hover {
    color: var(--hover-color);
}


/* GHOSTEXT */

.ghostext {
    /**convert text to 0 space**/
    padding: 0;
    color: transparent;
    font-size: 0;
    line-height: 0;
    position: fixed;
    z-index: -99;
    /* or just -1, whatever */
}

.ghostext1 {
    /**convert text to 1 space on screen**/
    padding: 0.1rem;
    color: transparent;
    font-size: 0;
    line-height: 0;
    position: relative;
    z-index: -99;
    /* or just -1, whatever */
}

.ghostext2 {
    /**convert text to 2 spaces on screen**/
    padding: 0.2rem;
    color: transparent;
    font-size: 0;
    line-height: 0;
    position: relative;
    z-index: -99;
    /* or just -1, whatever */
}

.ghostext3 {
    /**convert text to 3 spaces on screen**/
    padding: 0.3rem;
    color: transparent;
    font-size: 0;
    line-height: 0;
    position: relative;
    z-index: -99;
    /* or just -1, whatever */
}

.ghostext4 {
    /**convert text to 4 spaces on screen**/
    padding: 0.4rem;
    color: transparent;
    font-size: 0;
    line-height: 0;
    position: relative;
    z-index: -99;
    /* or just -1, whatever */
}

/* IFRAME */

iframe {
    width: 100%;
}

.videoContainer {
    margin: 1.1rem auto;
}

/* Only apply vertical margin to direct descendants, prevents multi margins */
.entry > iframe {
    margin: 24px 0 !important;
}

/* LOGO */
.logo-rotation {
    animation: wiggly 4s infinite linear;
}

@keyframes wiggly {

    0%,
    50%,
    100% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }
}

/* PRETTY-TAGS */

.pretty-tag {
    display: inline-block;
    font-size: 70%;
    padding: 0.2rem 0.25rem 0.2rem 0.25rem;
    line-height: .7rem;
    vertical-align: middle;
    border-style: none;
    border-radius: 0.25rem;
    font-weight: 400;
    color: #fff;
    margin: 0 0 0.1rem 0;
}


.pretty-tag.twitter-blue {
    background-color: #1FA1F3;
    /**BLUE, theme color of Twitter**/
    border-color: #1FA1F3;
}

.pretty-tag.twitter-blue a {
    color: #FFFC00 !important;
}

.pretty-tag.fb-navy {
    background-color: #4267B2;
    /**NAVY BLUE, theme color of Facebook**/
    border-color: #4267B2;
}

.pretty-tag.fb-navy a {
    color: #FFFC00 !important;
}

.pretty-tag.reddit-orange {
    background-color: #FF4500;
    /**ORANGE, theme color of Reddit**/
    border-color: #FF4500;
}

.pretty-tag.reddit-orange a {
    color: #FFFC00 !important;
}

.pretty-tag.line-green {
    background-color: #00B901;
    /**GREEN, theme color of Line**/
    border-color: #00B901;
}

.pretty-tag.line-green a {
    color: #FFFC00 !important;
}

.pretty-tag.snap-yellow {
    color: #121212 !important;
    background-color: #FFFC00;
    /**YELLOW, theme color of Snapchat**/
    border-color: #FFFC00;
}

.pretty-tag.snap-yellow a {
    color: #4267B2 !important;
}

.pretty-tag.red {
    background-color: #D52B1E;
    /**RED, theme color of this site**/
    border-color: #D52B1E;
}

.pretty-tag.red a {
    color: #FFFC00 !important;
}

.pretty-tag.grey {
    background-color: #7c7c7c;
    /**GRAY, theme color of this site**/
    border-color: #7c7c7c;
}

.pretty-tag.grey a {
    color: #FFFC00 !important;
}

/* TABLES */

table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    font-size: .9375rem;
    line-height: 24px;
}

tr {
    box-sizing: border-box;
    border-top: 1px solid var(--secondary-color);
    padding: 0;
}

th,
td {
    box-sizing: border-box;
    border: 1px solid var(--secondary-color);
    padding: 5px 12px 6px;
}

/* CHECKINS, LINKS, TRACKS */
#checkins-list,
#links-list,
#tracks-list {
    max-width: var(--width-max);
    background: var(--card-background-color);
    border-radius: 8px;
    padding: 2rem 0 1rem 0;
    margin: 0 0 2rem 0;
}

#loading {
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 2rem;
    text-align: center;
}

.dots {
    display: inline-block;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

#checkins-list,
#links-list,
#tracks-list {
    display: none;
    /* Optional: hide until loaded */
}

#checkins-list.loaded,
#links-list.loaded,
#tracks-list.loaded {
    display: block;
    /* Optional: show when loaded */

}

.checkin-entry,
.link-entry,
.track-entry {
    background: var(--card-bg-color);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 0 auto 1rem auto;
    transition: transform 0.3s ease-in-out;
    align-items: center;
    max-width: 90%;
}

.checkin-entry:hover,
.link-entry:hover,
.track-entry:hover {
    transform: scale(1.05);
}

.checkin-placename,
.link-hyper_text {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2rem;
    margin: 0.5rem auto;
}

.checkin-address,
.link-sidenote {
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 0.5rem auto;
}

.checkin-timestamp,
.link-timestamp {
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 0.5rem auto;
    opacity: 0.8;
}

/* TRACKS LIST */

.track-entry {
    display: flex;
}

.track-artwork {
    min-width: 95px;
    max-height: 95px;
    border-radius: 8px;
    margin: 0 0.2rem 0 0;
    flex-shrink: 0;
    object-fit: cover;
}

.track-info {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    flex-grow: 1;
    margin: auto auto auto 0.75rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.track-title-genre {
    display: block;
    line-height: 1.2rem;
    margin: 0 auto 0.25rem 0;
}

.track-title {
    display: inline;
    font-size: 1rem;
    margin: 0 0.5rem 0 0;
    font-weight: bold;
}

.track-genre {
    display: inline-block;
    color: var(--card-text-color);
    font-size: 0.65rem;
    vertical-align: text-bottom;
    border: 1px solid var(--card-text-color);
    border-radius: 0.25rem;
}

.track-artist {
    display: block;
    font-size: 0.85rem;
    line-height: 1rem;
    margin: 0.25rem 0 0.5rem 0;
}

.track-album-year {
    display: block;
    font-size: 0.85rem;
    line-height: 1rem;
}

@media (max-width: 1024px) {
    .logo .site-title {
        font-size: 1.5rem;
        margin-left: 0.5rem;
    }

    .nav-container {
        flex-wrap: wrap;
        position: relative;
    }

    .menu-toggle {
        display: block;
        /* Show hamburger button on mobile */
    }

    nav.nav-menu {
        display: none;
        /* Hide menu by default on mobile */
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--bg-color);
        box-shadow: 0 2px 4px rgba(159, 158, 158, 0.488);
        z-index: 99;
        padding: 10px 0;
        opacity: 0.88;
    }

    nav.nav-menu.active {
        display: block;
        /* Show menu when active */
    }

    nav.nav-menu ul {
        flex-direction: column;
        align-items: center;
    }

    nav.nav-menu ul li {
        margin: 10px 0;
    }

    nav.nav-menu ul li a {
        font-size: 1.2rem;
    }
}